<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <style>
    </style>
</head>
<body ng-app="candidate" ng-controller="MainCtrl">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">My Book Library</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">My Library</a></li>
            <li class=""><a id="editLink" href="/search">Add Books</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a id="logoutLink" href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>
<div class="container">

    <div class="page-header text-center">
        <h1></span> My Library</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">

            <div ng-repeat="book in collection">
                <p>{{book.title}}</p>
                <button ng-click="delBook(book)">Remove</button>
                <img ng-src="{{book.thumbnail}}">
                <hr>
            </div>

        </div>

    </div>

</div>

<script>
    angular.module('candidate', [])
        .controller('MainCtrl', [
            '$scope','$http',
            function($scope,$http){
                $scope.test = 'Hello world!';
                $scope.collection = [];


                $scope.getCollection = function () {
                    $http.get('/getCollection').success(function (data) {
                        console.log(data);
                        $scope.collection = data;
                    })
                }

                $scope.addBook = function () {
                    var book = {title: $scope.bookTitle, img : $scope.imgUrl};
                    return $http.put('/addBook', book).success(function(data){
                        console.log(data);
                    });
                }

                $scope.delBook = function (book) {
                    return $http.delete('/delBook/'+book.title).success(function (data) {
                        console.log(data);
                        $scope.collection = data;
                    })
                }

                $scope.getCollection();
            }
        ]);
</script>
</body>
</html>
