<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
</head>
<body ng-app="candidate" ng-controller="MainCtrl">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">My Book Library</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/profile">My Library</a></li>
            <li class="active"><a id="editLink" href="/search">Add Books</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a id="logoutLink" href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container">

    <div class="page-header text-center">
        <h1></span> Search</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">

            <form ng-submit="search()">
                <div class="form-group">
                    <label>Title</label>
                    <input ng-model="bookTitle" type="text" class="form-control">
                </div>

                <button type="submit" class="btn btn-warning btn-lg">Add Book</button>
            </form>
        </div>

        <div class="col-sm-6">
        <div ng-repeat="book in results">
            <p>{{book.title}}</p>
            <button ng-click="addBook(book)">addBook</button>
            <img ng-src="{{book.thumbnail}}">
            <hr>
        </div>
        </div>
    </div>

</div>

<script>
    angular.module('candidate', [])
        .controller('MainCtrl', [
            '$scope','$http',
            function($scope,$http){
                $scope.test = 'Hello world!';
                $scope.results = [];

                $scope.search = function () {
                    var book = {title: $scope.bookTitle, img : $scope.imgUrl};
                    return $http.get('/searchbook/'+$scope.bookTitle, book).success(function(data){
                        console.log(data);
                        $scope.results = data;
                    });
                }

                $scope.addBook = function (book) {
                    //var bookObj = {title: book.title, img : book.thumbnail};
                    $http.put('/addBook', book).success(function(data){
                        console.log(data);
                    });

                    alert("Book successfully added");
                }
            }
        ]);
</script>
</body>
</html>
